[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "lua"]
	path = lua
	url = http://github.com/LuaDist/lua.git
[submodule "toluapp"]
	path = toluapp
	url = https://github.com/savushkin-r-d/toluapp.git
